<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.munch.exchange"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.munch.exchange/css/default.css">
         </property>
         <property
               name="appName"
               value="com.munch.exchange">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.munch.exchange/com.munch.exchange.lifecycle.Manager">
         </property>
         <property
               name="windowImages"
               value="icons/chart_curve.png">
         </property>
      </product>
   </extension>
   <extension
         id="exchangeProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="ExChange">
         <property
               name="appName"
               value="ExChange">
         </property>
         <property
               name="windowImages"
               value="icons/chart_curve.png">
         </property>
      </product>
   </extension>

</plugin>
