<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="exchangeProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="ExChange">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.munch.exchange/com.munch.exchange.lifecycle.Manager">
         </property>
         <property
               name="appName"
               value="ExChange">
         </property>
         <property
               name="windowImages"
               value="icons/16/stock-market-icon.png,icons/32/stock-market-icon.png,icons/48/stock-market-icon.png,icons/64/stock-market-icon.png,icons/128/stock-market-icon.png">
         </property>
         <property
               name="applicationXMI"
               value="com.munch.exchange/Application.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
