/AllTests.class
/CombinationGenerator.class
/CoreTest.class
/InputData.class
/MIntegerTest.class
/TestAbstract.class
/TestAbstractClosure.class
/TestCoreMetaData$1DumpFunc.class
/TestCoreMetaData$1DumpGrp.class
/TestCoreMetaData.class
/TestData.class
